html, body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box
}

.main{
    height: 2000px;
    background-color: #0088dd;
}

.my-element {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    background-color: #fff;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}